body {
    background-color: darkgreen;
    color: white;
}

<<<<<<< HEAD
/* CSS DRUIZ */

/* CONTENEDORES */

#dr_div-presentacion{
    width: 120%;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.712);
}
/* DANIELRUIZGONZALEZ */
#dr_DanielRuiz {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    color: black;
    font-style: oblique;
}
/* /DANIELRUIZGONZALEZ */

#dr_fotos-musica {
    width: 70%;
}
#dr_fotos-fotos{
    width: 70%;
}
/* /CONTENEDORES */


/* IMAGENES */


.dr_imgMu{
    width: 20%;
    
    border-style:double;
    border-radius: 20px;
}

.dr_imgFot{
    width: 15%;

    border-style:double;
    border-radius: 20px;
}

#dr_imagen1{
    width: 24%;
    border-style:double;
    border-radius: 20px;
}

#dr_imagen2{
    width: 20%;
    border-style:double;
    border-radius: 20px;
}

/* /IMAGENES */

/* ANIMACION-IMAGENES */
#dr_fotoNas:hover,
#dr_fotoFoyone:hover,
#dr_fotoGal:hover,
#dr_fotoKen:hover
{
    transform: scale(1.5);
    max-width: 50%;
    display: inline-block;
}

.dr_imgFot:hover,
#dr_imagen1:hover,
#dr_imagen2:hover {
    transform: scale(1.5);
    max-width: 50%;
    display: inline-block;
}

/* /ANIMACION-IMAGENES */

#dr_span-enproceso{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: x-small;
    color: blue;
}

/* /CSS DRUIZ */

=======
<<<<<<< HEAD

.e.gimenez_nombre{
    background-color: violet;
    color: white;
=======
#lc_body {
    background-image: url(https://freefrontend.com/assets/img/css-background-patterns/css-pattern-with-css-blend-mode.png);
    background-size:cover;
    color: black;
    width: 80%;
    padding: 5%;
    font-family: 'Roboto Serif', sans-serif;
}

#ammI{
    display: block;
    margin: auto;
    border-radius: 15px;
}

#amm1{
    margin: 40px;
    text-align: center;
}
.amm2{
    color: brown;
    
}

.lc_text_animation_colored {
    animation: color-change 4s infinite;
}

@keyframes color-change {
    0% { color: red; text-shadow: 1px 1px 2px rgb(255, 255, 255);}
    25% { color: rgb(255, 217, 0); text-shadow: 1px 1px 2px black;}
    50% { color: blue; text-shadow: 1px 1px 2px rgb(255, 255, 255);}
    75% { color: rgb(9, 255, 0); text-shadow: 1px 1px 2px black;}
    100% { color: red; text-shadow: 1px 1px 2px rgb(255, 255, 255);}
  }

.lc_prueba_temporal_imagen {
    width: 40%;
    height: 30%;
    border-radius: 15px;
    margin: auto;
}

.lc_text_animation_resize_image {
    animation: size-change 4s infinite;
}

@keyframes size-change {
    0% { 
        width: 40%;
        height: 30%;
    }
    50% {
        width: 30%;
        height: 20%;
    }
    100% { 
        width: 40%;
        height: 30%;
    }
}

#dr_imagenNas{
    width: 50%;
}
>>>>>>> 3e617a063b2d0f04ad5bce3fe158f105393a787b
.lc_prueba_temporal_imagen {
    width: 40%;
    height: 30%;
    border-radius: 15px;
}
<<<<<<< HEAD
=======

.jp_caja1, .jp_caja2{
    float: left;
    display: inline;
}
.jp_caja2{
    width: 70%;
}
#jp_nombre {
    font-weight: bolder;
}
#jp_ciudad {
    font-style: italic;
}
#jp_resumen {
    font-size: 1.5em;
}
#jp_resumen, #jp_nombre, #jp_ciudad, #jp_edad{
    font-family: monospace;
}

#dr_imagenNas{
    width: 50%;
>>>>>>> a8817816a0ab29b88497371fe1991691b041ae2e
}
>>>>>>> 3e617a063b2d0f04ad5bce3fe158f105393a787b
